<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
<!--        数据源配置-->
        <property name="connection.username">root</property>
        <property name="connection.password">717899</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/test?characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=UTC&amp;rewriteBatchedStatements=true</property>
<!--   C3P0连接池-->
        <property name="hibernate.c3p0.acquire_increment">10</property>
<!--        失效时间-->
        <property name="hibernate.c3p0.idle_test_period">1000</property>
<!--        超时时间-->
        <property name="hibernate.c3p0.timeout">5000</property>
<!--        最大连接数量-->
        <property name="hibernate.c3p0.max_size">30</property>
<!--        最小连接数量-->
        <property name="hibernate.c3p0.min_size">5</property>
<!--        执行对象数量-->
        <property name="hibernate.c3p0.max_statements">10</property>

<!--        数据库方言-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

<!--        打印sql语句-->
        <property name="show_sql">true</property>
<!--        格式化sql-->
        <property name="format_sql">true</property>

<!--        是否自动生成数据表-->
        <property name="hibernate.hbm2ddl.auto">update</property>

            <!--注册实体关系映射文件,注意根据位置设置路径-->
        <mapping resource="People.hbm.xml"></mapping>
        <mapping resource="Customer.hbm.xml"></mapping>
        <mapping resource="Orders.hbm.xml"></mapping>
        <mapping resource="Account.hbm.xml"></mapping>
        <mapping resource="Course.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>
